#shortcuts {
    white-space:nowrap;
    display: inline-block;
}

.unity {
    width: 200px;
    height: 200px;
    border-color: black;
    text-align: center;
    float: left;
}

.unity-button {
    width: 150px;
    height: 100px;
}

span#override-icon {
    font-size: 42px; 
    float: none;
    margin: 0px;
}


.unity-version {
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    bottom: 0;
}

#add {
    /*background-image: url("../img/circle-plus.png");*/
    background-size: contain;
}